<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkngcI0A_7b8XtRCwcSlk8c3RUU94C4MM</string>
	<key>GCM_SENDER_ID</key>
	<string>818756248734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkathon</string>
	<key>PROJECT_ID</key>
	<string>talkathon-b1d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>talkathon-b1d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818756248734:ios:daf60eaca3ffc6654a878f</string>
</dict>
</plist>